
/* Table of Contents
    1.0 - General (resets, elements, fonts, colors, components)
    2.0 - Pages
      2.1 - About
      2.2 - Contact
      2.3 - Products
*/



/* ==========================================================================
   1.0 - General
   ========================================================================== */


 /*the next two rules remove the up/down arrows on form fields*/
 input[type='number'] {
     -moz-appearance: textfield;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
 }

 /*eliminate default Safari styling*/
 input, textarea, select {
    -webkit-appearance: none;
 }


 /* ==========================================================================
    2.1 - About Page
    ========================================================================== */
